---
import fetchApi from "../../lib/strapi";
import type Item from "../../interfaces/item";

const { slug } = Astro.params;

let item: Item;

try {
  item = await fetchApi<Item>({
    endpoint: "items",
    wrappedByKey: "data",
    wrappedByList: true,
    query: {
      "filters[slug][$eq]": slug || "",
    },
  });
} catch (error) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <title>{item.attributes.title}</title>
  </head>

  <body>
    <main>
      <!-- <img
        src={import.meta.env.STRAPI_URL +
          item.attributes.image.data.attributes.url}
      /> -->

      <h1>{item.attributes.title}</h1>

      <!-- Render plain text -->
      <p>{item.attributes.content}</p>
      <!-- Render html -->
      <Fragment set:html={item.attributes.content} />
    </main>
  </body>
</html>
