---
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import type Item from "../interfaces/item";

const items = await fetchApi<Item[]>({
  endpoint: "items", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response
});
---

<Layout>
  <button class="btn">Hello</button>
  <ul>
    <!-- {
      items.map((item) => (
        <li>
          <a href={`/item/${item.attributes.slug}/`}>{item.attributes.title}</a>
        </li>
      ))
    } -->
    {console.log("items: " + items)}
  </ul>
</Layout>
