<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="./logoipsum.svg" />
  <link
    href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0-beta.7/daisyui.css"
    rel="stylesheet"
    type="text/css"
  />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <meta name="generator" content={Astro.generator} />
  <title>6ixarchive</title>
</head>
