---
import Head from "../components/Head.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";
import "../styles/Layout.sass";
---

<!doctype html>
<html lang="en">
  <Head />
  <body>
    <Sidebar>
      <button class="btn">Hello</button>
    </Sidebar>
  </body>
</html>
